html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  font-family: "Raleway", sans-serif;
  background-color: #ed5c4d;
  color: #f4e9da;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

header {
  text-align: center;
}

main {
  text-align: center;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 8vh;
}
