.div_date_numbers {
  display: inline-flex;
  text-align: center;
  justify-content: space-around;
  width: 90%;
  margin-bottom: 2vh;
  margin-top: 2vh;
}

.div_date_numbers span {
  font-size: 3vw;
}

.increment_button {
  font-size: 5vh;
  color: #0000004d;
  background-color: transparent;
}

.increment_button:hover {
  cursor: pointer;
  color: #ed5c4d;
  background-color: transparent;
}

.date_and_icons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
