.hour {
  color: #273253;
  /* font-size: 3rem; */
}

.artist {
  font-size: 2.5rem;
  margin: 20px auto;
  font-weight: 700;
}

.venue {
  font-size: 1.8rem;
  font-weight: 400;
}

.image {
  width: 100%;
  max-height: 50vh;
}

.url_description {
  display: block;
  margin-top: 3vh;
  background-color: #273253;
  color: #f4e9da;
  margin-left: auto;
  margin-right: auto;
  padding: 1vh;
  width: max-content;
}

.url_description:hover {
  display: block;
  margin-top: 3vh;
  background-color: #f4e9da;
  color: #ed5c4d;
  margin-left: auto;
  margin-right: auto;
  padding: 1vh;
  width: max-content;
}
